* {
  outline: solid 2px rgb(255, 0, 0);
  font-family: Roboto;
  margin: 0px;
}
.first-block {
  background-color: #1F2937;
  padding-left: 18%;
  padding-right: 18%;
}

.flexbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  height: 3rem;
  align-content: center;
}

.flexbox .flex-one{
  font: bold 24px Roboto;
  flex: 1;
}


/*

div.list {
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #F9FAF8;
}

.welcome-text {
  margin: 7% 10% 1% 10%;
  display: flex;
}

.row {
    flex-direction: column;
    align-content: center;
    flex: 1 2 auto;
}

h2 {
 text-align: center;
 padding-top: 20px;
}