* {
  utline: solid 2px rgb(255, 0, 0);
  font-family: Roboto;
  margin: 0px;
}

.first-block {
  padding-top: 30px;
  background-color: #1F2937;
  padding-left: 13%;
  padding-right: 13%;
  height: 650px;
}

.flexbox {
  display: flex;
  justify-content: center;
  gap: 50px;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  height: 3rem;
  align-content: center;
}

.flexbox .flex-one{
  font: bold 30px Roboto;
  flex: 1;
  color: #F9FAF8;
}

h1 {
  font-weight: bold;
  font-size: 59px;
  color: #F9FAF8;
}

p {
  color: white;
}

.flexbox-two {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}

.meta-flex-two {
  flex-direction: column;
  width: 600px;
}
git 
.meta-flex-two p {
  max-width: 400px;
  }

img {
  margin-left: auto;
}

.button-1 {
  width: 100px;
  background-color: aqua;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;

}
/*

div.list {
  display: flex;
}



.row {
    flex-direction: column;
    align-content: center;
    flex: 1 2 auto;
}

h2 {
 text-align: center;
 padding-top: 20px;
}