* {
  /*outline: solid 2px rgb(255, 0, 0);*/
  font-family: Roboto;
  margin: 0px;
}

.first-block {
  padding-top: 30px;
  background-color: #1F2937;
  padding-left: 13%;
  padding-right: 13%;
  height: 650px;
}

.flexbox {
  display: flex;
  justify-content: center;
  gap: 50px;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  height: 3rem;
  align-content: center;
}

.flexbox .flex-one{
  font: bold 30px Roboto;
  flex: 1;
  color: #F9FAF8;
}

h1 {
  font-weight: bold;
  font-size: 59px;
  color: #F9FAF8;
  line-height: 3.7rem;
}

p {
  margin-top: 0.9rem;
  color: rgb(181, 181, 181);
  font-size: 1.2rem;
}

.flexbox-two {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.meta-flex-two {
  flex-direction: column;
  width: 600px;
}

.meta-flex-two p {
  max-width: 400px;
  }

img {
  margin-left: auto;
}

.button-1 {
  margin-top: 1.5rem;
  width: 90px;
  background-color: rgb(0, 132, 255);
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;

}

.second-block {
  height: 500px;
  padding-left: 13%;
  padding-right: 13%;
}

h2{
  text-align: center;
  color: #1F2937;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 3rem;

}

.smiley-images {
  display: flex;
  align-content: center;
  gap: 60px;
  justify-content: center;
}

.smiley-images img {
  height: 200px;
  outline: solid 5px rgb(0, 132, 255);
  border-radius: 8px;
  margin: auto;
}

.smiley-images img,
.smiley-images p {
  width: 210px;
}

.smiley-images p {
  font-size: small;
  text-align: center;
}

.third-block {
  height: auto;
  padding-left: 23%;
  padding-right: 23%;
  background-color: #f1f1f2;
}

.quote {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  font-size: 48px;
  font-weight: 100;
  text-align: justify;
  color: #4f4f52;
}

.quote p {
  font-size: 23px;
  color: #1F2937;
  font-weight: 800;
  text-align: right;
}

.fourth-block {
  height: auto;
  padding-left: 23%;
  padding-right: 23%;
}

.blue-box {
  background-color: #2981fd;
  padding: 40px;
  border-radius: 10px;
  margin-top: 90px;
  margin-bottom: 90px;
  min-width: 800px;
  display: flex;
}

.sub-row h4 {
  color: white;
  font-size: 32px;
}

.sub-row p {  
  color: #e8e8e8;
  font-size: 18px;
  margin-top: 0;
}

.sub-row {
}

.button-2 {
  padding: 5px 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  outline: solid 2px white;
  max-height: fit-content;
}

footer {
  height: auto;
  padding-left: 23%;
  padding-right: 23%;
  background-color: #244a80;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 22px;
  color: white;
}